{% extends 'parent/base.html' %}

{% block title %}پروفایل دکتر {% endblock title %}
{% block content %}
    <div class="pr_container">
        <div class="pr_sidebar">
            <h2>پنل کاربری</h2>
            <ul>
                <li><a href="{% url 'create_reservation' %}">ایجاد وقت ملاقات</a></li>
                <li><a href="{% url 'logout' %}">خروج</a></li>
            </ul>
        </div>
        <div class="pr_content">
            <h1>خوش آمدید، دکتر{{ user.get_full_name }}</h1>
            <a href="{% url 'status' %}">اینجا می‌توانید به اطلاعات بیماران و نوبت‌های ملاقات دسترسی داشته باشید.</a>

        </div>
        
    </div>
    <div class="pr_file_container">
        <div class="pr_file">
            <p><strong>ادرس : </strong> {{ dr_user.address }}</p>
            <p><strong>شماره تلفن : </strong>{{ dr_user.office_number }}</p>
            <p><strong>تخصص : </strong>{{ dr_user.specialization }}</p>
            <p><strong>شماره نظام وظیفه : </strong>{{ dr_user.system_number }}</p>
            <p><strong>شماره همراه : </strong>{{ user.phone_number }}</p>
            <p><strong>کد ملی : </strong>{{ user.national_code }}</p>
{#            <a href="{% url 'edit_dr' %}">ویرایش </a>#}
        </div>
    </div>
    <div class="pr_img">
            <img src="{{ dr_user.profile_pic.url }}">
        </div>
{% endblock content %}